version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
  
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/pkg"
    schedule:
      interval: "weekly"

  - package-ecosystem: "pub"
    directory: "/zakat_dart"
    schedule:
      interval: "weekly"

  - package-ecosystem: "gradle"
    directory: "/zakat_android"
    schedule:
      interval: "weekly"
